
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
}

header {
  background: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

header input {
  margin-top: 10px;
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

#jobs {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.job {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.job button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.job button:disabled {
  background: gray;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 120px auto;
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin-top: 10px;
  padding: 6px;
}

.close {
  background: red;
  margin-top: 10px;
}
